.statistics-container {
  width: 50%;
  margin: 48px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.statistics-header-container {
  display: flex;
  align-items: center;
}
.statistics-header {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto";
  color: #000000;
  margin-right: 32px;
}
