.barChart-container {
  width: 90%;
  margin: 48px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barChart-header-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 36px;
}
.barChart-header {
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto";
  color: #000000;
  margin-right: 32px;
}
