.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

.loader-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.failure-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-text {
  font-family: "Roboto";
  color: black;
  font-size: 32px;
  font-weight: 500;
}
.failure-button {
  font-family: "Roboto";
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px;
  background-color: aqua;
  border-radius: 5px;
}

.transaction-container {
  width: 80%;
  background-color: rgb(146, 207, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
}

.header-container {
  background-color: #ffffff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-family: "Roboto";
  font-weight: bold;
  color: #404040;
  font-size: 32px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-search {
  font-family: "Roboto";
  background-color: #f8df8c;
  color: #474642;
  font-size: 18px;
  padding: 8px 18px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.select-month {
  font-family: "Roboto";
  font-size: 18px;
  background-color: #ebb840;
  border-radius: 8px;
  padding: 8px 18px;
  outline: none;
  border: none;
}
.checked-text {
  background-color: #f8df8c;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.view-container h1 {
  font-family: "Roboto";
  color: #404040;
}

.view-container button {
  font-family: "Roboto";
  color: #fff;
  font-size: 18px;
  margin: 20px;
  padding: 8px 18px;
  background-color: red;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}
